script-ware-funcs.js
script-ware-electron-funcs.js
ScriptWareAuth.node

meta-resources/
update-trial-1.3.4.js

Release/
dist/
static/
react-README.md

node_modules/
package-lock.json

.DS_Store
Thumbs.db